.container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(210px,1fr));
    grid-auto-rows: 210px;
    grid-auto-flow: row dense;
}

.v{
    grid-row: span 2;
}

.h{
    grid-column: span 2;
}

.b{
    grid-row: span 2;
    grid-column: span 2;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}